FLASK_SECRET_KEY=changeme
GOOGLE_MAPS_API_KEY=
GITHUB_TOKEN=
GA_MEASUREMENT_ID=
WEBHOOK_SECRET=
EDIT_ENABLED=false
EDIT_USERNAME=
EDIT_PASSWORD=
YOUTUBE_API_KEY=
SEARXNG_BASE_URL=http://127.0.0.1:8888
